<div class="container">
  <div class="main-content">
    <div class="info-area">
      <div class="container-fluid d-flex flex-column" style="height: 100%;">
        <div class="d-flex align-items-center" style="height: 10%;">
          <button class="btn btn-light" (click)="voltar()">
            <img src="../../../assets/img/voltar.png" alt="Voltar" style="width: 16px; height: 16px; margin-right: 5px;" /> VOLTAR
          </button>
        </div>

        <div class="d-flex" style="height: 90%;">
          <div class="flex-grow-1 container-game" tabindex="0" (keydown)="moverBarra($event)">
            <div class="game">
              <div class="barra-azul" #barraAzul></div>
              <div *ngFor="let peixe of peixes" (click)="pescar(peixe)" class="peixe-container"
                   [ngStyle]="{'left.px': peixe.x, 'top.px': peixe.y}">
                <img [src]="peixe.imagem" alt="Peixe" class="peixe" />
              </div>
            </div>
          </div>

          <div class="bg-lightcoral d-flex flex-column" style="flex-basis: 30%; height: 100%;">
            <div class="container-descricao">
              <span style="font-weight: bold;">PESCARIA</span>
              <div class="divider"></div>
              <p>
                Mergulhe em um mundo relaxante e vibrante de pesca! Explore lagos serenos e rios encantados, onde você pode capturar uma variedade de peixes, desde os mais comuns até os raros.
              </p>
            </div>

            <div class="container-placar">
              <span style="font-weight: bold;">PLACAR</span>
              <div class="divider"></div>
              <div class="row">
                <div class="col-12">
                  <div class="d-flex align-items-center mb-3">
                    <span>Pontos: {{ pontos }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-modal-novo-jogo *ngIf="showVitoria" [title]="'Parabéns!! Você ganhou!! O que acha de jogar novamente?'"></app-modal-novo-jogo>
    <app-modal-novo-jogo *ngIf="showDerrota" [title]="'Lamento!! Você perdeu!! O que acha de jogar novamente?'"></app-modal-novo-jogo>
  </div>
</div>
