.quadrado {
    width: 300px; /* Largura fixa para manter os quadrados */
    aspect-ratio: 1; /* Mantém a proporção de 1:1 */
    background-color: #f1f1f1;
    margin: 10px;
    display: flex; /* Flexbox para centralizar conteúdo */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.quadrado:hover {
    background-color: #F1EE4C;
    transform: scale(1.1);
}

.quadrado img {
    width: 50; /* Ajusta a imagem para ocupar 80% do quadrado */
    height: auto; /* Mantém a proporção da imagem */
    transition: all 0.3s ease-in-out;
}

.full-height {
    height: 100% !important;
    display: flex; /* Usando flexbox */
    flex-direction: column; /* Alinha os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}
