body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
  
.snackbar {
    visibility: hidden; /* Escondido por padrão */
    min-width: 250px; /* Largura mínima */
    margin-left: -125px; /* Centro horizontalmente */
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-align: center; /* Texto centralizado */
    border-radius: 2px; /* Bordas arredondadas */
    padding: 16px; /* Espaçamento interno */
    position: fixed; /* Fixo em relação à tela */
    z-index: 1; /* Sobreposição */
    left: 50%; /* Centraliza horizontalmente */
    top: 30px; /* Distância do topo */
    transition: visibility 0s, opacity 0.5s linear; /* Transição suave */
    opacity: 0; /* Inicialmente invisível */
  }
  
  .snackbar.show {
    visibility: visible; /* Mostra o Snackbar */
    opacity: 1; /* Torna visível */
  }

  .divider{
    border-top: 1px solid #3053aa; /* Define a cor e espessura da linha */
    margin: 20px 0; 
}